In [6]:
a = ["good", "bad", "nice"]

a[1] = "happy"
del a[0]

print(a)

['happy', 'nice']

In [7]:
b = "hoppy"

# b[1] = "a" #immutable 한 속성으로 문자열은 리스트 처럼 변경시 에러
# del b[1] #del 또한 마찬가지 리스트에서는 가능하지만 문자열에서는 불가능

# print(b[1])

In [11]:
fruits = ('apple', 'grape', 'orange')
print(fruits)
print(fruits[1])
# fruits[1] = 'banana' #튜플은 리스트와 달리 변경불가
# del fruits[1] #마찬가지 리스트와 달리 삭제 또한 불가

('apple', 'grape', 'orange')
grape

TypeError: 'tuple' object doesn't support item deletion

In [13]:
t1 = (10)
t2 = (10,)
t3 = 1, 2, 3
# 튜플의 경우 데이터가 1개 뿐일 때 콤마가 없으면 문자나 숫자로 인식하며 콤마를 찍어주면 튜플로 인식한다. 또 괄호없이 콤마로 데이터가 나열된 경우 튜플로 인식한다.

print(type(t1))
print(type(t2))
print(type(t3))

<class 'int'>
<class 'tuple'>
<class 'tuple'>